  <body>
    <div class="container">

      <header>
        <h1> Portfolio</h1>
      </header>

      <section class="content">
        <p>This section illustrates various academic projects and professional projects that I am involved in.</p>
      </section>

      <div class="thing row">
      <div class="one-half column">
      <img src="assets/password.png" alt="Password Encryption" />
      </div>
      <div class="one-half column">
        <h1>Password Encryption</h1>
        <p>With the user's input for a 5-characters string, generate a password by reversing the order of the characters in the string and subtracting 7 from each character to produce the password.</p>
      </div>
    </div>

    <div class="thing row">
      <div class="one-half column">
      <img src="assets/book1.png" width="50%" height="50%" alt="Book Inventory 1" />
      <p class="figure">Figure 1: Detecting Existing Files</p>
      <img src="assets/book2.png" width="50%" height="50%" alt="Book Inventory 2" />
      <p class="figure">Figure 2: Detecting Existing ISBN</p>
      <img src="assets/book3.png" width="50%" height="50%" alt="Book Inventory 3" />
      <p class="figure">Figure 3: Displaying File Contents</p>
      </div>
      <div class="one-half column">
        <h1>Book Inventory</h1>
        <p>Implement a book inventory where users may add books in this inventory by entering its ISBN, its title, its price, its authors name’s, its number of pages and its release year. To search for a specific book through its ISBN with the users’ input (user has to enter a valid ISBN), I had to prove the efficiency of a binary search instead of a sequential search.</p>
      </div>
    </div>

      <footer>
        <ul>
          <li><a href="mailto:alexandre.kang@outlook.com">Email</a></li>
        </ul>

        <ul>
          <li><a href="https://www.instagram.com/alexandremkang">Instagram</a></li>
        </ul>

        <ul>
          <li><a href="https://www.linkedin.com/in/alexandrekang">LinkedIn</a></li>
        </ul>
      </footer>
    </div>
  </body>