/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    color: white;
    font-family: 'Larsseit', sans-serif;
    font-size: 100%;
    text-rendering: optimizeLegibility;
  }
  
  a {
    color: #373737;
    text-decoration: none;
  }
  
  a.ga:hover {
      color: red;
  }
  
  a.gfs:hover {
      color: #03ff2f;
  }
  
  a.gt:hover {
      color: #89fefe;
  }
  .container {
    max-width: 1040px;
    margin: 100px auto 20px;
  }
  
  header {
    margin-bottom: 60px;
  }
  
  h1 {
    font-size: 18px;
    font-weight: 700;
  }
  
  .content {
    display: block;
    max-width: 450px;
  }
  
  .content p {
    font-size: 22px;
    line-height: 1.55;
  }
  
  footer {
    overflow: auto;
    margin-top: 60px;
  }
  
  footer > ul {
    float: left;
    display: block;
    margin: 0 30px 0 0;
    padding: 0;
    width: 100px;
    list-style: none;
  }
  
  footer > ul > li {
    font-size: 15px;
    margin: 0 0 0.5em 0;
  }
  
  footer > ul > li > a {
    border-bottom: none;
  }
  
  footer > ul > li > a:hover {
    border-bottom: 2px solid #ffff03;
    color: #ffff03;
  }
  
  @media only screen and (max-device-width: 680px) {
    body {
      margin: 0 40px;
    }
  
    .container {
      margin-top: 140px;
    }
  }