<body>
    <div class="container">
      <header>
        <h1>Alexandre Kang</h1>
      </header>

      <section class="content">
        <p>I am a computer science student at Concordia University in Montreal, Canada who is interested in <a class = "ga" href="https://www.geopoliticalmonitor.com/">geopolitical affairs</a>, in the <a class = "gfs" href="https://www.centralbanking.com/">global financial system</a> and in the <a class = "gt" href="https://ourworldindata.org/technological-progress">growth of technology</a>.</p>
      </section>

      <footer>
        <ul>
          <li><a href="mailto:alexandre.kang@outlook.com">Email</a></li>
        </ul>

        <ul>
          <li><a href="https://www.instagram.com/alexandremkang">Instagram</a></li>
        </ul>

        <ul>
          <li><a href="https://www.linkedin.com/in/alexandrekang">LinkedIn</a></li>
        </ul>

        <ul>
          <li><a routerLink="/portfolio/">Portfolio</a></li>
        </ul>
      </footer>
      </div>
  </body>